<div class="topnav">
  <p class="topnav__title">portfolio</p>
  <p class="topnav__text"><span>my name is rosalynn ashwood. i&#39m a</span> qu&#201bec based developer and applied <span>maths major.</span></p>
</div>

<nav class="leftnav">
   <%= link_to "about", { anchor: "about" }, class: "leftnav__link" %>
   <%= link_to "portfolio", { anchor: "portfolio" }, class: "leftnav__link" %>
   <%= link_to "projects", { anchor: "projects" }, class: "leftnav__link" %>
   <%= link_to "contact", { anchor: "contact" }, class: "leftnav__link" %>
</nav>

<%= link_to "hello@rosalynnashwood.com", "mailto:hello@rosalynnashwood.com", class: "email" %>
<div class="social">
    <%= link_to image_tag("stackoverflow.png"),
        "https://stackoverflow.com/users/9440171/rosalynnas",
        target: "_blank" %>
    <%= link_to image_tag("linkedin.png"),
        "https://www.linkedin.com/in/rosalynn-ashwood/",
        target: "_blank" %>
    <%= link_to image_tag("github.png"),
        "https://github.com/rosalynnas",
        target: "_blank" %>
</div>
