<section class="header odd" id="portfolio">
	<h2>development</h2>
	<figure class="header__bg-img-wrapper">
		<%= image_tag('painting-pattern-1-vojtech-bruzek-min.jpg',
				alt: 'yellow blue and white abstract painting') %>
	</figure>
	<figure class="header__img-wrapper">
		<%= image_tag('minimal-tree-in-black-and-white-mila-tovar-min.jpg', alt: 'minimal sketch of a black and white tree') %>
		<figcaption class="inner">Minimal Tree in Black and White by Mila Tovar</figcaption>
	</figure>
</section>

<section class="portfolio-item">
	<h3 class="portfolio-item__title">sezia</h3>
	<p class="portfolio-item__date">2018 - 2021</p>
	<figure class="portfolio-item__primary-img-wrapper">
		<%= image_tag('sezia-primary.jpg',
				alt: 'landing image of sezia.co') %>
	</figure>
	<span class="portfolio-item__text">Sezia is a web application that empowers individuals suffering from Malassezia related skin diseases by helping them avoid products which aggravate their condition. I designed the project from start to finish, using OOD patterns to create a text analysis algorithm then combining research data and user input to build a database.  After growing the application and user base for four years, I sold the app and worked for the purchasing company as a developer. </span>
	<span class="portfolio-item__subtext">The database contains over 758k cosmetic ingredients which are matched against inputted product data. User experience is prioritized with interactive AJAX based form submissions and page rendering for the Amazon product catalogue. Throughout maintenance and development, I conducted thorough testing of new features and dependency updates on staging environments to streamline deployment and reduce development time. </span>
	<div class="portfolio-item__environment">
		<h4>environment:</h4>
		<ul>
			<li>ruby on rails</li>
			<li>postgresql</li>
			<li>digital ocean</li>
			<li>passenger/nginx</li>
			<li>javascript</li>
			<li>amazon</li>
			<li>mailchimp</li>
		</ul>
	</div>
	<figure class="portfolio-item__secondary-img-wrapper">
		<%= image_tag('sezia-secondary.jpg',
				alt: 'image of ingredient lists on sezia.co') %>
	</figure>
</section>

<section class="header even" id="portfolio">
	<h2>design</h2>
	<figure class="header__bg-img-wrapper">
		<%= image_tag('painting-pattern-1-vojtech-bruzek-min.jpg',
				alt: 'yellow blue and white abstract painting') %>
	</figure>
	<figure class="header__img-wrapper">
		<%= image_tag('untitled-natalie-dmay-min.jpg',
				alt: 'minimal sketch of a tree branch flowering') %>
		<figcaption class="inner">Untitled by Natalie Dmay</figcaption>
	</figure>
</section>

<section class="portfolio-item">
	<h3 class="portfolio-item__title">riske photography</h3>
	<p class="portfolio-item__date">2019 - 2022</p>
	<figure class="portfolio-item__primary-img-wrapper">
		<%= image_tag('riske-primary.jpg',
				alt: 'images of a model from riskephotography.com') %>
	</figure>
	<span class="portfolio-item__text">Riske Photography is a professional boudoir photography company. I worked together with the client to build a unique and elegant website that stood out from other photographers in her niche and expressed a sophisticated ambiance. </span>
	<span class="portfolio-item__subtext">The client and I communicated remotely throughout the design process as well as in the years after for updates and general maintenance of the site.  I provided written explanations, screenshots, and video demos to teach her how to update and edit the content. I also wrote thorough documentation on coding processes and plugin usage for any future developers who might work on the site.</span>
	<div class="portfolio-item__environment">
		<h4>environment:</h4>
		<ul>
			<li>wordpress</li>
			<li>mailchimp</li>
			<li>zoom</li>
			<li>figma</li>
			<li>flowdesk</li>
		</ul>
	</div>
	<figure class="portfolio-item__secondary-img-wrapper">
		<%= image_tag('riske-secondary.jpg',
				alt: 'a screen capture of a headline from riskephotography.com') %>
	</figure>
</section>

<section class="portfolio-item">
	<h3 class="portfolio-item__title">engage nova scotia</h3>
	<p class="portfolio-item__date">december 2022</p>
	<figure class="portfolio-item__primary-img-wrapper">
		<%= image_tag('engage-primary.jpg',
				alt: 'a quote with design elements surrounding it') %>
	</figure>
	<span class="portfolio-item__text">Engage Nova Scotia is a non-profit working at the intersection of government, non-profit, business, and academic sectors. I worked for Engage as a data analytics intern to make recommendations on how they can share their NS Quality of Life Initiative data with various audiences across Canada. </span>
	<span class="portfolio-item__subtext">I organized the project management schedule for our research group using Asana and aimed to keep everyone on track with tasks and responsibilities. My research centered on identifying various data visualization techniques and how should be applied to different audiences. The project culminated in a series of interactive slides that I designed in Figma for Engage to use during employee training.</span>
	<div class="portfolio-item__environment">
		<h4>environment:</h4>
		<ul>
			<li>figma</li>
			<li>asana</li>
			<li>canva</li>
			<li>powerpoint</li>
			<li>zoom</li>
		</ul>
	</div>
	<figure class="portfolio-item__secondary-img-wrapper">
		<%= image_tag('engage-secondary.jpg',
				alt: 'a hand holding headphones linked to infographic bubbles') %>
	</figure>
</section>

<section class="header odd" id="portfolio">
	<h2>math</h2>
	<figure class="header__bg-img-wrapper">
		<%= image_tag('painting-pattern-1-vojtech-bruzek-min.jpg',
				alt: 'yellow blue and white abstract painting') %>
	</figure>
	<figure class="header__img-wrapper">
		<%= image_tag('portret-van-kunstenares-berthe-morisot-edouard-manet-min.jpg',
				alt: 'minimal abstract sketch of a man') %>
		<figcaption class="inner">Portret by Edouard Manet</figcaption>
	</figure>
</section>

<section class="portfolio-item">
	<h3 class="portfolio-item__title">SSRIA</h3>
	<p class="portfolio-item__date">january 2022</p>
	<figure class="portfolio-item__primary-img-wrapper">
		<%= image_tag('ssria-primary.jpg',
				alt: 'a pie chart graph') %>
	</figure>
	<span class="portfolio-item__text">The Smart Sustainable Resilient Infrastructure Association (SSRIA) is a not-for-profit member-based association. As a statistical analysis intern for SSRIA, my responsibilities were to carry out a member satisfaction survey and perform market research. After the internship, I was reviewed as one of the top performing students in the program. </span>
	<span class="portfolio-item__subtext">I researched similar membership organizations to identify additional potential member benefits and presented the results in a report to the project manager. Then the manager and I designed a survey to analyze member satisfaction of association benefits and SSRIA’s overall missions and activities. After the survey responses were obtained, I performed statistical analysis on the results and provided a report on my findings.</span>
	<div class="portfolio-item__environment">
		<h4>environment:</h4>
		<ul>
			<li>statcrunch</li>
			<li>asana</li>
			<li>google meet</li>
			<li>google forms</li>
			<li>microsoft excel</li>
		</ul>
	</div>
	<figure class="portfolio-item__secondary-img-wrapper">
		<%= image_tag('ssria-secondary.jpg',
				alt: 'a snapshot of a statcrunch variable recoding') %>
	</figure>
</section>
