<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="https://www.rosalynnas.com"/>
    <meta property="og:title" content="Rosalynn Ashwood | Portfolio"/>
    <meta property="og:description" content="Quebec based developer and applied maths major."/>
    <meta property="og:site_name" content="www.rosalynnas.com"/>
    <meta property="og:image" content="https://rosalynnas.com/site-preview.jpeg"/>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/theme_color_meta_tags' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= yield %>
  </body>
</html>
